@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 10, 10, 9;
    --background-end-rgb: 10, 10, 9;
}

body {
    color: rgb(var(--foreground-rgb));
    background: #0a0a09;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #0a0a09;
}

::-webkit-scrollbar-thumb {
    background: #3a3927;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #f9f506;
}